<div class="ui container">
<h1>dashboard</h1>
<div class="ui buttons">
<%= button_to "logout", destroy_user_session_path, method: :delete, class:"ui big button"%>
<%= button_to "orders", orders_path, method: :get, class:"ui big blue button" %>
<%= button_to "plants", orders_path, method: :get, class:"ui big green button" %>
</div>
</div>