<div class="ui container">
<h1>PLANTHAUS</h1>
<div class="ui buttons">
<%= button_to "login",{ :controller => "users", :action => "index" }, method: :get, class:"ui blue button" %>
<%= button_to "logout", destroy_user_session_path, method: :delete, class:"ui button"  %>
</div>
</div>